$black: #000112;
$dark-bg: #20212c;
$dark-grey: #2b2c37;
$dark-lines: #3e3f4e;
$medium-grey: #828fa3;
$light-lines: #e4ebfa;
$light-bg: #f4f7fd;
$white: #ffffff;

$main-purple: #635fc7;
$hover-purple: #a8a4ff;
$red: #ea5555;
$hover-red: #ff9898;

:root {
  --background: #{$dark-bg};
  --text: #{$white};
  --card-bg: #{$dark-grey};
}

[data-theme="light"] {
  --background: #{$light-bg};
  --text: #{$black};
  --primary: #{$main-purple};
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ellipsis {
  // position: fixed;
  // position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  width: 30px;
  justify-content: center;
  z-index: 5;

  // margin-left: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.red-color {
  color: $red;

  &:hover {
    cursor: pointer;
    color: $hover-red;
  }
}
.white-color {
  color: $white;

  &:hover {
    cursor: pointer;
    color: $medium-grey;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
