.button {
  border: none;
  border-radius: 100px;
  padding: 1rem 1rem;
  font-weight: bold;
  color: $white;
  transition: 0.25s;
  font-size: 15px;

  &.full-width {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: $main-purple;

    &.small {
      padding: 0.8rem 1rem;
      font-size: 13px;
    }

    &:hover {
      background-color: $hover-purple;
    }
  }

  &.secondary {
    background-color: $white;
    color: $main-purple;
  }

  &.destructive {
    background-color: $red;

    &:hover {
      background-color: $hover-red;
    }
  }

  &.transparent {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}
