.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  // padding: 1rem;
  padding: 1rem 1rem 1rem 0;
  // border: 1px solid red;
  background-color: $dark-grey;

  & .logo-container {
    min-height: 96px;
    padding: 0 2rem;
    width: 300px;

    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 0 2rem;

    // border: 1px solid $dark-lines;
    border-top: transparent;
    border-left: transparent;

    & img {
      height: max-content;
    }
  }

  & ul {
    list-style: none;
    display: flex;
    align-items: center;

    & li:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  & .board-name {
    font-size: 20px;
    font-weight: bold;
  }

  & .username {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
}
