.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.5);
  z-index: 2;

  h2 {
    position: relative;
  }

  h3 {
    margin: 0;
    margin-bottom: 1rem;
    position: relative;
  }

  &-content {
    background-color: var(--background);
    border-radius: 6px;
    padding: 2rem;
    min-width: 30rem;
    max-width: 30rem;

    & .buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
