.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.5);
  z-index: 2;

  h2 {
    position: relative;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  h3 {
    margin: 0;
    margin-bottom: 1.5rem;
    position: relative;
  }

  &-content {
    position: relative;
    background-color: $dark-grey;

    border-radius: 6px;
    padding: 2rem;
    min-width: 30rem;
    max-width: 30rem;

    max-height: 97vh;
    overflow-y: scroll;

    & .buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
    }

    & .gifs {
      // display: flex;
      // flex-wrap: wrap;

      // justify-content: center;

      & div {
        & img {
          // max-height: 140px;
          width: 100%;
        }
      }
    }
  }
}
