.sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  min-width: 300px;
  width: 300px;
  background-color: $dark-grey;

  transition: width 0.25s;

  & .num-of-boards {
    padding: 1rem 2rem;
    color: $medium-grey;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;
  }

  & .boards {
    // flex: 1;
    border: 1px solid $dark-lines;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 15px;
      width: 276px;

      & li {
        width: 100%;

        & .link {
          @include transition;
          color: $medium-grey;
          padding: 1rem 2rem;
          border-top-right-radius: 999px;
          border-bottom-right-radius: 999px;
          width: 100%;
          // display: block;
          text-decoration: none;
          display: flex;
          align-items: center;

          & svg {
            margin-right: 1rem;
          }

          &:hover {
            cursor: pointer;
            background-color: $white;
            color: $main-purple;

            & svg path {
              fill: $main-purple;
            }
          }

          &.active {
            background-color: $main-purple;
            color: $white;
            // background-color: var(--primary);

            & svg path {
              fill: $white;
            }

            &:hover {
              background-color: $main-purple;

              & svg path {
                fill: $white;
              }
            }
          }
        }
      }
    }

    & .username {
      // align-self: flex-end;
      margin-left: 2rem;
    }

    // padding: 1rem 2rem 2rem 2rem;
  }
}
