.task {
  border-radius: 10px;
  padding: 1.5rem 1rem;
  background-color: var(--card-bg);
  box-shadow: 0px 4px 6px 0px #364e7e1a;

  &:hover {
    cursor: pointer;

    & .title {
      color: $main-purple;
    }
  }

  & .title {
    @include transition;
    @include heading-m;
    color: var(--text);
  }

  & .subtasks {
    @include body-m;
    color: $medium-grey;
    margin-top: 0.5rem;
  }
}
